@import 'variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main,
main * {
    display: flex;
    flex-direction: column;

    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-gray-4);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.main-container {
    padding-bottom: 56px;
    padding-top: 64px;
}

.main-container > img {
    height: 200px;
    object-fit: cover;
}

.main-container > div {
    padding: 32px 24px;
}

.line-clamp-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.icon-container {
    align-items: center;
    height: 16px;
    justify-content: center;
    width: 16px;
}

@media (min-width: 768px) {
    .main-container > div {
        padding: 48px;
    }
}

@media (min-width: 1024px) {
    .main-container > img {
        height: calc(100vh - 56px - 64px);
        left: 0;
        position: fixed;
        top: 64px;
        width: 40vw; /* original: 464px & 560px */
    }

    .main-container > div {
        margin-left: 40vw;
        padding: 64px 48px;
    }
}

/* one breakpoint skipped */

@media (min-width: 1366px) {
    .main-container > div {
        padding: 64px;
    }
}

@supports (font-variation-settings: normal) {
    main,
    main * {
        font-family: InterVariable, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }
}