:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray-0: #494950;
    --color-gray-1: #676E76;
    --color-gray-2: #A6A8AC;
    --color-gray-3: #F0F2F4;
    --color-gray-4: #F8FAFC;
    --color-green-0: #027A3D;
}
